header {
  padding: 20px;
}

header > div{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 28px;
  margin-bottom: 0;
}

.todays-date {
  font-size: 14px;
  @media (min-width: $mq-smartphone) {
    font-size: 16px;
  }
}